# Byte-compiled / optimized / DLL 文件
__pycache__/
*.py[cod]
*$py.class

# C 扩展
*.so

# 发布/包装
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  通常这些文件是在PyInstaller构建exe之前由python脚本从模板中编写的，以便向其中注入日期/其他信息。
*.manifest
*.spec

# Installer 日志
pip-log.txt
pip-delete-this-directory.txt

# 单元测试/覆盖报告
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# 翻译文件
*.mo
*.pot

# Django 相关东西:
*.log
local_settings.py

# Flask 相关东西:
instance/
.webassets-cache

# Scrapy 相关东西:
.scrapy

# Sphinx 文档
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat 时间表文件
celerybeat-schedule

# SageMath 解析文件
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
virtualenv/
.virtualenv

# Spyder 项目设置
.spyderproject
.spyproject

# Rope 项目设置
.ropeproject

# mkdocs 文档
/site

# mypy
.mypy_cache/

# IDE 设置
.vscode/